 *{
    margin: 0%;
    padding: 0%;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;


}
section{
   background-image: url(/eve-173463.jpg);
   /* background-repeat: cover; */
   object-fit: cover;
   
   height: 100vh;
   width: 100vw;
}

 .main{
    
    height: 250px;
    width: 700px;
    margin-top: 200px;
    margin-left: 300px;
    

} 
img{
    padding-left: 20px;
}
h1{
    font-size: 50px;
    padding-bottom: 5px;

}
p{
    font-size: 12px;
    padding-top: 10px;
    
}
.p-1{
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.p-2{
    margin-bottom: 20px;
}

 h1 , p {
    display: flex;
    justify-content: center;

}
.btn{
    display: flex;
    justify-content: center;
    border-radius: 1px solid rgb(15, 153, 15);
    


}

nav{
    margin-top: px;
    max-width: 85%;
    
    height: 50px;
    word-spacing: 15px;
    padding-top:10px ;
}
a{
   font-size: 14px;
   word-spacing: 10px;
}



a  {
    
    text-decoration: none;
    position: relative;
    left: 70%;
    line-height: 50px;
    color: white;

    
    
  
}
a:hover{
    text-decoration: underline green 3px solid;
    transition: 2s;
} 
#btn-2{
    background-color: transparent;
}
button{
    border-color: rgb(22, 91, 91) 1px solid ;
    margin-top: 8px;
    border-radius: 30px;
    height: 40px;
    width: 100px;
    color: aliceblue;
    background-color: rgb(22, 91, 91);
}

